/*Paddings*/
.padding-0 { padding: 0 !important; }
.padding-right-0 { padding-right: 0 !important; }
.padding-top-5 { padding-top: 5px !important; }
.padding-top-10 { padding-top: 10px !important; }
.padding-bottom-40 { padding-bottom: 40px !important; }
.padding-left-5 { padding-left: 5px !important; }

/*Margins*/
.margin-0 { margin: 0 !important; }
.margin-top-0 { margin-top: 0 !important; }
.margin-bottom-0 { margin-bottom: 0 !important; }
.margin-bottom-5 { margin-bottom: 5px !important; }
.margin-bottom-15 { margin-bottom: 15px !important; }
.margin-bottom-20 { margin-bottom: 20px !important; }
.margin-bottom-40 { margin-bottom: 40px !important; }
.margin-left-5 { margin-left: 5px !important; }
.margin-right-left-0 { margin-right: 0 !important; margin-left: 0 !important }

/*border*/
.border-top-0 { border-top: 0 !important; }

/*Border Radius*/
.border-radius-5 { border-radius: 5px !important; }

/*List Style None*/
.list-style-none { list-style: none; }

/*No Underline*/
.no-ul { text-decoration: none !important; }

/*Colors*/
.purple { color: #653D57 !important; }
.beige { color: #F8F4EB !important; }
.white { color: white !important; }

/*Background Colors*/
.purple-bg { background-color: #653D57 !important; }
.beige-bg { background-color: #F8F4EB !important; }
.olive-bg { background-color: #8B8D48 !important; }

/*Border Color*/
.border-color-purple { border-color: #653D57 !important; }

/*Hover Colors*/
.hover-purple a:hover { color: #653D57 !important; }
.hover-beige a:hover { color: #F8F4EB !important; }
.hover-olive a:hover { color: #8B8D48 !important; }

/*Logo*/
.fixed-header-on .header .logo img {
    max-height: 50px;
}

/*Responisve*/
@media only screen and (min-width : 1200px) {
    .padding-top-0-min-1200 { padding-top: 0 !important; }
    .margin-top-bottom-5-min-1200 { margin-top: 5px !important; margin-bottom: 5px !important; }
    .height-64-min-1200 { height: 64px !important; }
}

@media only screen and (max-width : 991px) {
    .margin-bottom-60-max-991 { margin-bottom: 60px !important; }
}